<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	<jmxConfigurator/>
	<springProperty scope="context" name="logPath" source="log.path" defaultValue="/opt/log"/>
	<springProperty scope="context" name="appName" source="spring.application.name" defaultValue="apollo-client-extend-binder-demo"/>

	<!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d %p ${appName} (%file:%line\) %m%n</pattern>
		</encoder>
	</appender>

	<springProfile name="dev,test">
		<logger name="com.gittors" level="DEBUG" />
		<logger name="com.ctrip" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
		</root>
	</springProfile>

	<springProfile name="uat,prod,k8s">
		<logger name="com.gittors" level="INFO" additivity="false">
			<appender-ref ref="STDOUT"/>
		</logger>
		<logger name="org.springframework" level="INFO" additivity="false">
			<appender-ref ref="STDOUT"/>
		</logger>
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
		</root>
	</springProfile>
</configuration>